@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

body{
    background: linear-gradient(90deg, rgb(255, 162, 43) 0%, rgba(207, 207, 207, 0.391) 100%);
    font-family: 'Poppins', sans-serif;

}
form{
    border-radius: 20px;
    margin-top: 150px !important;
    width: 24% !important;
    background-color: white !important;
    padding: 50px;
}

.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background: #FFA22B;
    
}

.text-center{
    font-weight: bold;
}

.form-control{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    }
 h4{
    font-size: 2rem !important;
    font-weight: 700;
 }  
 .form-label{
    font-weight: 800 !important;
 }

 .logo{

    img{
        align-items: center;
        height: 90%;
        width: 90%;
        padding-left:40px;
    }
 }

#emailHelp{
    color: black;
}







 @media only screen and (max-width: 1200px) {
    form {
        width: 70% !important;
    }
  }


@media only screen and (max-width: 945px) {
    form {
        width: 70% !important;
    }
  }

@media only screen and (max-width: 600px) {
    form {
        width: 80% !important;
    }
  }

 @media only screen and (max-width: 450px) {
    form {
        width: 90% !important;
    }
  }
